<!-- <p>vehicles works!</p> -->
 <table border="1" >
    <thead>
        <th>S.no</th>
        <th>Vehicle no</th>
        <th>manufacturer</th>
        <th>model</th>
        <th>type</th>
        <th>fuel</th>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles; let i=index">
            <td>{{i+1}}</td>
            <td>{{vehicle.vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
      
        </tr>
    </tbody>
</table>
